/* Основной контейнер */

.account {
    transition: opacity 0.3s ease-in-out; /* плавная смена */
}

.conteiner_forms {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

/* Форма регистрации и входа */
.content_reg {
  background-color: #333;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

/* Поля ввода*/
.reg_in {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login_form,
.mail_form,
.pass_form {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.login_form:focus,
.mail_form:focus,
.pass_form:focus {
  border-color: #007bff;
  outline: none;
}

/* Пароль с глазком */
.password_item {
  position: relative;
  display: flex;
  align-items: center;
}

.eye_close,
.eye_open {
  position: absolute;
  right: 12px;
  cursor: pointer;
  width: 20px;
  height: auto;
}

.check_pass {
  position: absolute;
  right: 36px;
  width: 20px;
  height: auto;
}

/* Кнопка отправки */
.bt {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reg_bt {
  background-color: #0056b3;
  color: white;
}

.reg_bt:hover {
  background-color: #007bff;
}

/* Поле вывода сообщений*/

.error {
  display: flex;
  text-align: center;
  align-items: center; 
	height: 75px;  
}

.err {
  color: red;
}

.mess {
  color: rgb(255, 255, 255);
}

.forgot_pass {
  text-align: center;
  margin-top: 15px;
}

.forgot_pass a {
  color: #ffffff;
}


.forgot_pass a:hover {
  color: #f72929;
}

.alert {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.alert-danger {
    background-color: #ffe6e6;
    color: #d90000;
    border-left: 4px solid #d90000;
}

.alert-success {
    background-color: #e6ffe6;
    color: #007a00;
    border-left: 4px solid #28a745;
}

.recovery {
    display: flex;
    flex-direction: column;
}

/*confirm_email*/
.conteiner_confirm {
  display: flex;
}

.content_confirm {
  background-color: #333;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.message_block {
    margin-bottom: 20px;
    text-align: center;
}

.success_message {
    color: #4daf4e;
    padding: 10px;
}

.error_message {
    color: #a94442;
    padding: 10px;
}

/* Корзина товаров */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.styled-table thead {
    background-color: #444;
}

.styled-table th,
.styled-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.styled-table tr:hover {
    background-color: #333;
}


/*edit product*/

.info_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_content {
  display: flex;
  flex-direction: column;
}