{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth_form.css') }}">
{% endblock %}

{% block title %}
Подтверждение Email
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="conteiner_forms">
  <form class="content_confirm">
    <h2 class="title">Подтверждение Email</h2>

    <div class="message_block">
      {% if message %}
        <div class="success_message">{{ message }}</div>
      {% endif %}
      {% if error %}
        <div class="error_message">{{ error }}</div>
      {% endif %}
    </div>

    <button class="bt reg_bt" type="button" onclick="redirectToLogin()">OK</button>
  </form>
</div>

<script>
  function redirectToLogin() {
    window.location.href = "{{ url_for('session.login') }}";
  }
</script>
{% endblock %}