{% block content %}
<div class="email-form-container">
  <h2>Подтверждение Email</h2>

  <div class="message-block">
    {% if message %}
      <div class="success-message">{{ message }}</div>
    {% endif %}
    {% if error %}
      <div class="error-message">{{ error }}</div>
    {% endif %}
  </div>

  <button class="action-btn" type="button" onclick="redirectToLogin()">OK</button>

</div>
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email_forms.css') }}">
{% endblock %}

{% block js %}
<script>
  function redirectToLogin() {
    window.location.href = "{{ url_for('session.login') }}";
  }
</script>
{% endblock %}