{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth_form.css') }}">
{% endblock %}

{% block title %}
Забыли пароль?
{% endblock %}

{% block header %}
<div class="back">
    <a href="/" title="Вернуться назад">
        <img class="account" src="{{ url_for('static', filename='img/other/back.png') }}" alt="Назад" width="35px" height="35px">
    </a>
</div>
{% endblock %}

{% block content %}
<div class="conteiner_forms">
    
    <!-- Форма -->
    <form method="post" action="/reset-password" class="content_reg" id="recoveryForm">
        <h2 class="title">Восстановление пароля</h2>

        <div class="recovery">
            <!-- Email -->
            <input type="email" class="login_form" id="email" name="email" placeholder="Введите ваш Email" required>

            <div class="error">
                {% if err %}
                <div class="err">{{ err }}</div>
                {% elif mess %}
                <div class="mess">{{ mess }}</div>
                {% endif %}
            </div>

            <!-- Кнопка -->
            <button class="bt reg_bt" id="submitBtn" type="submit">Отправить ссылку</button>
        </div>
    </form>
</div>
{% endblock %}
