{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth_form.css') }}">
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}

{% block header %}
<div class="back">
    <a href="/" title="Вернуться на главную">
        <img class="account" src="{{ url_for('static', filename='img/other/back.png') }}" alt="Назад" width="35px"
            height="35px">
    </a>
</div>
{% endblock %}

{% block content %}
<div class="conteiner_forms">
    <form id="setNewPasswordForm" class="content_reg" method="post">
        <h2 class="title">Сброс пароля</h2>

        <input type="hidden" name="token" value="{{ token }}">

        <div class="reg_in">

            <!-- Поле "Пароль" -->
            <div class="password_item">
                <input type="password" class="pass_form" id="password" name="password"
                       placeholder="Новый пароль" required>
                <img src="{{ url_for('static', filename='img/other/eyeclose.png') }}" alt="Скрыть" class="eye_close"
                     onclick="togglePassword('password', this)">
                <img src="{{ url_for('static', filename='img/other/eyeopen.png') }}" alt="Показать" class="eye_open"
                     style="display: none;" onclick="togglePassword('password', this)">
            </div>

            <!-- Поле "Подтвердите пароль" -->
            <div class="password_item">
                <input type="password" class="pass_form" id="confirm_password" name="confirm_password"
                    placeholder="Подтвердите пароль" required>
                <img src="{{ url_for('static', filename='img/other/eyeclose.png') }}" alt="Скрыть" class="eye_close"
                     onclick="togglePassword('confirm_password', this)">
                <img src="{{ url_for('static', filename='img/other/eyeopen.png') }}" alt="Показать" class="eye_open"
                     style="display: none;" onclick="togglePassword('confirm_password', this)">
                <!-- Галочка -->
                <img src="{{ url_for('static', filename='img/other/ok.svg') }}" 
                     alt="OK" class="check_pass" id="passwordCheckIcon" style="display: none;">
            </div>

            <!-- Блок ошибок -->
            <div class="error">
                {% if err %}
                <div class="err">{{ err }}</div>
                {% endif %}
            </div>

            <!-- Кнопка отправки -->
            <button class="bt reg_bt" id="submitBtn" type="submit">Сохранить пароль</button>

        </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/toggle_eye.js') }}"></script>
{% endblock %}