{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth_form.css') }}">
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}

{% block header %}
<div class="back">
    <a href="/" title="Вернуться на главную">
        {{ custom_icon(size=35, cls="back") }}
    </a>
</div>
{% endblock %}

{% block content %}
<div class="conteiner_forms">
    <form id="setNewPasswordForm" class="content_reg" method="post">
        <h2 class="title">Сброс пароля</h2>

        <input type="hidden" name="token" value="{{ token }}">
        <div class="reg_in">

            <!-- Новый пароль -->
            <div class="password_item">
                <input type="password" class="pass_form" id="password" name="password" placeholder="Введите новый пароль" required>
                <span class="eye_close" onclick="togglePassword('password', this)">
                    {{ eye_close(size=24, cls="") }}
                </span>
                <span class="eye_open" style="display: none;" onclick="togglePassword('password', this)">
                    {{ eye_open(size=24, cls="") }}
                </span>
            </div>

            <!-- Повторите пароль -->
            <div class="password_item">
                <input type="password" class="pass_form" id="confirm_password" name="confirm_password" placeholder="Повторите пароль" required>
                <span class="eye_close" onclick="togglePassword('confirm_password', this)">
                    {{ eye_close(size=24, cls="") }}
                </span>
                <span class="eye_open" style="display: none;" onclick="togglePassword('confirm_password', this)">
                    {{ eye_open(size=24, cls="") }}
                </span>
            </div>

            <!-- Блок ошибок -->
            <div class="error">
                {% if err %}
                <div class="err">{{ err }}</div>
                {% endif %}
            </div>

            <!-- Кнопка отправки -->
            <button class="bt reg_bt" id="submitBtn" type="submit">Сохранить пароль</button>

        </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/toggle_eye.js') }}"></script>
{% endblock %}